[Home](index.md) | [Manual Assessment Memo](Charbroil_Grill_Manual_Memo.md) | [Chatbot](chatbot.md) | [Procedure Video](procedure_video.md) | [Manual](manual.md) | [Reflective Blogs](reflective_blogs.md) | [Major Projects](Major_Projects.md) | [Contact Me](Contact_Me.md)

# Safe Mode User Usability Test

# [Guide Being Tested](https://steven-grevera.github.io/ENC4265/Quick_Start_Guide.html)


# Content Table

- [Test Reasoning](#test-reasoning)
- [Test Results](#test-results-prompt-specific-questions)

# Test Reasoning 

## GUIDE UNDER TEST 

Today, we are testing a user's experience with the "Safe Mode Quick Guide." The goal of this test is to see how well users were able to successfully follow the guide to completion down one of the routes they desire and ensuring that all methods work and are understood without any issues. No help will be provided to the user; only their experience will be recorded.  



## BUSINESS CASE 

This test is being conducted to ensure that our users are able to understand the guide for which it is intended to assist with. The major benefit of which is to ensure that our users are getting the best experience possible, as opposed to our competitors. The risks of not testing are far greater than conducting this test, as just assuming everything is written correctly without gathering data could result in an inferior guide, resulting in users potentially never trusting us again should it be inferior or incorrect. 


## TEST OBJECTIVES 

The goal of this test is to ensure that our guide can be understood by someone of even below-average computer ability. Assisting them and providing a service. 



## PARTICIPANTS 

For the sake of this college situation, one peer will be used to test their ability to use this guide. This peer is below average in terms of technological understanding and so is a fairly good model for the low-end user experience. 

## EQUIPMENT 

The test will be conducted through a workstation with the user being monitored but not assisted in any way so that notes can be recorded and then transferred into the testing results below.  

## TEST TASKS 

The task of this test is to correctly boot a Windows 10 computer into Safe Mode using one or all of the methods listed within our guide. 

## RESPONSIBILITIES 

The user is responsible for providing the results through their actions and the notetaker is responsible for jotting notes based upon the user's experience.

## LOCATION & DATES 

This test will take place on 2/11/2025 and will take place within our own home as a family member is using the workstation. The results are shared on this web page.

## PROCEDURE TEST TASKS 

The test tasks will go through each listed step in our guide, and these will also serve as the main steps.

# Test Results (Prompt Specific Questions) 



## What did they struggle to do? 

The user was able to complete the task outlined in the guide. However, they were confused about how to turn off safe mode. This feedback was taken to mean that the guide should be updated to reflect the fact the user desired that information. Providing that information in a simple step would likely be the best course of action.

## What seemed well-explained? 

The user was able to complete the task outlined within the guide in under a minute without any intervention. Therefore, all seemed well explained. 

## What recommendations do you have for yourself moving forward?: 

The user only needed one solution, never all. For the sake of this test, all were done to ensure all test steps worked properly. However, as instructed by my professor, going this detailed may have been overboard for this set of two assignments. That said, when writing for a general audience of varying sizes and degrees of skill, I feel my guide was correct in terms of needing additional options. 

As should be noted, however, some steps could have been written even better and some captions should have been written better as well. Something that will be strived to be improved in future guides and manuals. 

Also of note, the user first did the test on a workstation in which the guide worked without issue. However they would then proceed to do it on their own laptop and came into issues that arose. Namely, it seemed the Windows 10 Black Screen Safe Mode feature that shouldn't have been toggled on had been turned on. Guide can be updated to provide two screenshots of how things should work depending on the situation or a link on what to do if their screen shows the black screen as opposed to the standard blue screen that was provided in the guide. 
